%----------------------------
% Staffing Table
%----------------------------

\section*{ {{ "Staffing Assignments" | latex }} }

\begin{tabular}{@{}p{5cm}p{6cm}p{4cm}@{}}
\toprule
\textbf{Name} & \textbf{Role} & \textbf{Start Date} \\
\midrule
{% for person in staffing_info %}
{{ person.name | latex }} & {{ person.role | latex }} & {{ person.start_date | latex }} \\
{% endfor %}
\bottomrule
\end{tabular}