\begin{center}
\LARGE \textbf{ {{ title_block.header | latex }} } \\
\large \textbf{ {{ title_block.subheader | latex }} } \\
\large \textbf{ {{ title_block.date | latex }} } \\
\end{center}

\vspace{1cm}